.card {
    display: flex;
    height: 600px;
    width: 90%;
    border: 1px solid white;
    margin-top: 50px;
    float: right;
}

.card img {
    width: 100%;
    height: 80%;
    margin-bottom: 15px;
}

.card p {
    bottom: 0;
}

.right-card {
    width: 90%;
    margin-top: 50px;
    height: 600px;
    background-color: #2a7ce185;
    padding: 10px;
}

.right-card p {
    font-size: 0.9rem;
}

.main-part {
    margin-top: 20px;
    width: 90%;
    margin-left: 7%;
    margin-right: 7%;
}

body {
    min-height: 1000px;
}